page-city {
   .back{
	    background:  linear-gradient(to bottom, #3f4c6b 3%,#3f4c6b 3%,#3f4c6b 76%,#3f4c6b 84%);
	    color:white;
	   }
	 .city{
	   padding-top:30px;
	 }

	 button:hover{
        background:#488aff
	 }
}
