page-doctor {
   
	   .back{
	    background:  linear-gradient(to bottom, #3f4c6b 3%,#3f4c6b 3%,#3f4c6b 76%,#3f4c6b 84%);
	    color:white;
	   },
	   .back-card{
	  background: linear-gradient(to bottom, rgba(255,214,94,1) 99%,rgba(254,191,4,1) 100%); 
	  }
	   .book{
	     padding:20px;
	   }


}

